/* =Eventbrite */
.eventbrite-event .entry-meta span:before {
  -webkit-font-smoothing: antialiased;
  font-family: "FontAwesome";
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: none;
  vertical-align: text-bottom;
}
.hentry.eventbrite-event:before {
  content: $fa-var-calendar;
}

.eventbrite-event {
  .entry-meta > span {
    display: inline-block;
    margin: 0 8px;
    width: auto;
  }
  .event-time:before {
    content: $fa-var-calendar;
  }
  .event-venue-text:before {
    content: $fa-var-map-marker;
  }
  .event-organizer-text:before {
    content: $fa-var-user;
  }
  .event-details-text:before {
    content: $fa-var-info-circle;
  }
}
