/* =Jetpack */
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
  display: block;
}

#infinite-footer {
  z-index: 999;
}
#infinite-footer .container {
  background: #efedea;
  border-top: 0;
  color: #ada393;
  font-size: 0.8125em;
  font-style: italic;
  position: relative;
}
#infinite-footer .container a {
  color: #ada393;
}
#infinite-footer .blog-info a,
#infinite-footer .blog-credits {
  font-size: 0.8125em;
  line-height: 1.84615em;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.infinite-loader {
  margin: 0 auto 48px;
  width: 28px;
}

#infinite-handle span {
  font-size: 0.8125em;
  line-height: 1.84615em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #6f9d9f;
  border-radius: 2px;
  color: white;
  display: block;
  float: none;
  font-weight: bold;
  margin: -24px auto 48px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 140px;
}
#infinite-handle span:hover {
  background: #bd5532;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 51em) {
  #infinite-handle span {
    border-radius: 0;
    width: 100%;
  }
}

div.sharedaddy div.sd-block {
  padding: 11px 0 12px !important;
}
